:root{
    --bg: hsl(235 100% 10%);
    --footer: hsl(240 100% 4%);
    --text: hsl(205 100% 95%);
    --text-muted: hsl(204 74% 69%);
    --highlight: hsl(201 100% 24%);
    --border: hsl(204 100% 20%);
    --border-muted: hsl(211 100% 17%);
    --primary: hsl(197 100% 44%);
    --icons: hsl(197 100% 44%);;
    --secondary: hsl(36 100% 42%);
    --danger: hsl(7 100% 66%);
    --warning: hsl(53 100% 21%);
    --success: hsl(162 100% 22%);
    --info: hsl(217 100% 70%);
}
.light-mode{
    --bg: hsl(217 100% 100%);
    --footer: hsl(240 100% 96%);
    --text: hsl(260 100% 13%);
    --text-muted: hsl(217 100% 30%);
    --highlight: hsl(217 100% 100%);
    --border: hsl(217 91% 57%);
    --border-muted: hsl(217 100% 70%);
    --primary: hsl(217 100% 30%);
    --secondary: hsl(33 100% 14%);
    --danger: hsl(4 99% 37%);
    --warning: hsl(50 100% 12%);
    --success: hsl(159 100% 9%);
    --info: hsl(215 95% 42%);
}
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: var(--bg) ;
    color: var(--text);
}

.general-cont button {
    background-color: transparent;
    border-style: none;
    padding: 5px;
    color: var(--primary);
}

header {
    display: flex;
    align-items: center;
    padding: 15px 40px;
    justify-content: space-between;
    transition: all 0.5s ease;
    position: relative;
    margin-bottom: 20px;
}
.hide {
    transform: translateY(-100px);
}
.unhide {
    transform: translateY(0px)
}
h3 span {
    display: inline-block;
    color: var(--primary);
    
}
h3 button{
    color: var(--icons);
    background-color: transparent;
    border-style: none;
}
h3{
    display: flex;
    transition: all 0.5s ease;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
h3:hover {
    cursor: pointer;
    transform: scale(1.15) translateY(-3px);

}

.nav {
    width: 50%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.nav li a {
    color: var(--text);
    display: inline-block;
    padding: 5px;
}
.nav li {
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: 2px solid var(--border);
    transition: all 0.3s ease;
    color: var(--icons)
}
.nav li:hover{
    border-bottom: 2px solid var(--highlight);
    transform: translateY(-5px)  scale(1.05);
}
.end-header{
    display: flex;
    align-items: center;
}
.theme-switch{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--bg);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}
.theme-switch span:first-child{
    display: none;
}
.light-mode .theme-switch span:last-child{
    display: none;
}
.light-mode .theme-switch span:first-child{
    display: block;
}

.content{
    height: 100vh;
    display: flex;
    gap: 5em;
}
.prof {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image {
    background: url("./profbi.avif");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-size: cover;
    height: 700px;
    width: 420px;
    
}
.About {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.4em;
}
.About .name {
    font-size: 2.4em;;
}
@keyframes cursor {
   0% {
        border-right: 1px solid white
    }
   100%{
        border-right: 1px solid --bg;
    }
}
.About p span {
    color :var(--text-muted);
    font-size: 2em;
    animation: cursor 0.8s ease 0s infinite normal forwards;
}
.about-text {
    font-size: 18px;
    color: var(--text-muted);
}

.skills {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 80vh;
    background-color: var(--bg);
    gap: 4em;
}
.skills h1 {
    color: var(--text);
}
.cards-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
/* Footer */
.footer-container{
    background-color: var(--footer);
    border-top: 2px solid var(--text);
    width: 100%;
    height: 35vh;
    display: flex;
    padding: 20px;
    color: var(--text-muted);
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}
.Contact{
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 1em;
}
.Contact ul {
    display: flex;
    list-style: none;
    gap: 2em;
}
.Contact ul li a {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.Contact ul li a:hover {
    transform: scale(1.05) translateY(-5px);
    cursor: pointer;
}
.Projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 5em;
}
.Projects ul {
    display: flex;
    list-style: none;
    gap: 3.5em;
    
}
.Projects ul li a {
    display: inline-block;
    transition: all 0.3s ease;
    border-bottom: 2px solid var(--border);
}
.Projects ul li a:hover {
    transform: scale(1.15) translateY(-5px);
    cursor: pointer;
}
.Projects p {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Subsribe {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-left: 1px solid white;
}
input[type="text"] {
    color: var(--text);
    font-size: 15px;
    outline: none;
    border-style: none;
    background-color: transparent;
    padding: 5px;
    border-bottom: 2px solid var(--border); 
    width: 80%;
}
.subsribebtn {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    border: 1px solid var(--border);
    background-color: transparent;
    color: var(--text);
    transition: all 0.3s ease;
}
.subsribebtn:hover{
    transform: scale(1.05) translateY(-5px);
    background-color: var(--border);
}
.subsribebtn:active {
    transform: scale(0.95);
}
:root{
    --bg: hsl(235 100% 6%);
    --footer: hsl(240 100% 4%);
    --text: hsl(205 100% 95%);
    --text-muted: hsl(204 74% 69%);
    --highlight: hsl(201 100% 24%);
    --border: hsl(204 100% 20%);
    --border-muted: hsl(211 100% 17%);
    --primary: hsl(197 100% 44%);
    --icons: hsl(197 100% 44%);;
    --secondary: hsl(36 100% 42%);
    --danger: hsl(7 100% 66%);
    --warning: hsl(53 100% 21%);
    --success: hsl(162 100% 22%);
    --info: hsl(217 100% 70%);
}
.light-mode{
    --bg: hsl(209 100% 8%);
    --text: hsl(205 100% 95%);
    --icons: hsl(215 100% 44%);
    --primary: hsl(215 100% 44%);
    --text-muted: hsl(215 100% 44%);
}
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: var(--bg) ;
    color: var(--text);
}

.general-cont button {
    background-color: transparent;
    border-style: none;
    padding: 5px;
    color: var(--primary);
}

header {
    display: flex;
    align-items: center;
    padding: 15px 40px;
    justify-content: space-between;
    transition: all 0.5s ease;
    position: relative;
}
.hide {
    transform: translateY(-100px);
}
.unhide {
    transform: translateY(0px)
}
h3 span {
    display: inline-block;
    color: var(--primary);
    
}
h3 button{
    color: var(--icons);
    background-color: transparent;
    border-style: none;
}
h3{
    display: flex;
    transition: all 0.5s ease;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
h3:hover {
    cursor: pointer;
    transform: scale(1.15) translateY(-3px);

}

.nav {
    width: 50%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.nav li a {
    color: var(--text);
    display: inline-block;
    padding: 5px;
}
.nav li {
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: 2px solid var(--border);
    transition: all 0.3s ease;
    color: var(--icons)
}
.nav li:hover{
    border-bottom: 2px solid var(--highlight);
    transform: translateY(-5px)  scale(1.05);
}
.end-header{
    display: flex;
    align-items: center;
}
.theme-switch{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--bg);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}
.theme-switch span:first-child{
    display: none;
}
.light-mode .theme-switch span:last-child{
    display: none;
}
.light-mode .theme-switch span:first-child{
    display: block;
}

.content{
    height: 100vh;
    display: flex;
    gap: 5em;
}
.prof {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image {
    background: url("./profbi.avif");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-size: cover;
    height: 700px;
    width: 420px;
    
}
.About {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.4em;
}
.About .name {
    font-size: 2.4em;;
}
@keyframes cursor {
   0% {
        border-right: 1px solid white
    }
   100%{
        border-right: 1px solid --bg;
    }
}
.About p span {
    color :var(--text-muted);
    font-size: 2em;
    animation: cursor 0.8s ease 0s infinite normal forwards;
}
.about-text {
    font-size: 18px;
    color: var(--text-muted);
}

.skills {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 80vh;
    background-color: var(--bg);
    gap: 4em;
}
.skills h1 {
    color: var(--text);
}
.cards-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
/* Footer */
.footer-container{
    background-color: var(--footer);
    border-top: 2px solid var(--text);
    width: 100%;
    height: 35vh;
    display: flex;
    padding: 20px;
    color: var(--text-muted);
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}
.Contact{
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 1em;
}
.Contact ul {
    display: flex;
    list-style: none;
    gap: 2em;
}
.Contact ul li a {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.Contact ul li a:hover {
    transform: scale(1.05) translateY(-5px);
    cursor: pointer;
}
.Projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 5em;
}
.Projects ul {
    display: flex;
    list-style: none;
    gap: 3.5em;
    
}
.Projects ul li a {
    display: inline-block;
    transition: all 0.3s ease;
    border-bottom: 2px solid var(--border);
}
.Projects ul li a:hover {
    transform: scale(1.15) translateY(-5px);
    cursor: pointer;
}
.Projects p {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Subsribe {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-left: 1px solid white;
}
input[type="text"] {
    color: var(--text);
    font-size: 15px;
    outline: none;
    border-style: none;
    background-color: transparent;
    padding: 5px;
    border-bottom: 2px solid var(--border); 
    width: 80%;
}
.subsribebtn {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    border: 1px solid var(--border);
    background-color: transparent;
    color: var(--text);
    transition: all 0.3s ease;
}
.subsribebtn:hover{
    transform: scale(1.05) translateY(-5px);
    background-color: var(--border);
}
.subsribebtn:active {
    transform: scale(0.95);
}
@media (min-width: 300px) and (max-width: 767px) {
  body {
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 2em; 
    padding: 0; 
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
    gap: 1.5em;
    height: auto; 
    padding: 20px;
    position: relative;
    z-index: 10;
  }

  .hide {
    transform: translateX(-300px);
  }
  .unhide {
    transform: translateX(0px);
  }

  .nav {
    width: 100%;
    text-align: center;
    flex-direction: column;
    gap: 20px;
  }
  .nav li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.5em;
    gap: 2em;
  }
 .About p span {
    font-size: 1.2em;
  }
  .prof {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
  }

  .image {
    width: 80vw;
    height: auto; 
    max-width: 400px;
    aspect-ratio: 3/4; 
    border-radius: 50%;
  }

  .About {
    padding: 0 1em;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 2em;
    padding: 20px;
  }
  .skills{
    margin-top: 250px;
    margin-bottom: 150vh;
  }
  .Contact {
    border-right: 1px solid transparent;
    border-bottom: 1px solid white;
  }
  .Subsribe {
    border-left: 1px solid transparent;
    border-top: 1px solid white;
  }
}